<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="StartUpConfiguration" type="ConfigurationSettings.StartUpConfigSection, ConfigurationSettings" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.117.0" newVersion="1.0.117.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Business" value="SaiTer.ATE.Business" />
    <add key="Control" value="SaiTer.ATE.Controls" />
    <add key="EquipMent" value="SaiTer.ATE.EquipMent" />
    <add key="TrialType" value="XML\\TrialTypeItems.xml" />
    <add key="EquipMents" value="XML\\EquipMentManage.xml" />
    <add key="InterfaceType" value="XML\\InterfaceManage.xml" />
    <add key="System" value="XML\\SystemParam.xml" />
    <add key="UserInfo" value="SaiTer|SaiTer888" />
    <!--电阻负载是否ABC三相电流都并入A相，   0，代表是， 1代表否-->
    <add key="IsResisLoadConnect" value="0" />
    <!--项目客户名称 针对客户的定制需求-->
    <add key="Customer" value="YKR" />
    <!--亮红灯时是否同时报警 true-报警-->
    <add key="isAlarm" value="false" />
    <!--开始测试时是否删除所有临时数据 true 删除-->
    <add key="isDeleteData" value="false" />
    <!--启动程序是否加载上次测试的数据 true 加载-->
    <add key="isAddTrialData" value="true" />
    <!--是否需要测试合格率统计 true 需要, false 不需要-->
    <add key="isTestQuality" value="false" />
    <!--是否需要MES设置 true 需要, false 不需要-->
    <add key="isMESSet" value="true" />
    <add key="SaftyControlNumber" value="2" />
    <!--是否为自动化检测程序-->
    <add key="isAutoTest" value="false" />
    <!--程控板继电器说明-->
    <add key="CtrlBoardText" value="K5：辅源12V过压
K6：辅源24V过压
K7：交流输入电流/CP信号（默认交流输入A相电流）
K8：直流输出电流/CC1信号（默认直流输出电流）
K9：输入PE断线" />
    <!--DIO继电器说明-->
    <add key="DIORelayText" value="" />
    <add key="EquiqVsControl" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!--如果想每次登录程序都默认英文 Default =“en-US-->
  <StartUpConfiguration>
    <Languages Default="zh-CN">
      <add Name="en-US" />
      <add Name="zh-CN" />
    </Languages>
  </StartUpConfiguration>
</configuration>